.container 
{
    text-align: center;
    margin-top: 90px;
    

}

@media screen and (max-width: 500px)
{
	.container{
		width: 70%;
	}
}

body{
	background: linear-gradient(100deg,#f61defcf,#06ba87c7);
}
table
{
	margin: auto;
}

input
{
	font-size: 30px;
	width: 240px;
	height: 35px;
	margin: 20px;
	border: 3px solid black;
	border-radius: 30px;
}
button
{
	font-size: 30px;
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 40px;
	margin: 4px;

}

.calculator
{
	display: inline-block;
    border-radius: 30px;
    border: 5px solid #2b2438;
    background-color: black;
    height: 430px;
    width: 280px;
}
